/* GENERAL */

@font-face {
  font-family: "Futura Bold";
  src: url("../asstets/tipos/Futura/FuturaBold.otf");
}

@font-face {
  font-family: "Futura Medium";
  src: url("../asstets/tipos/Futura/FuturaMedium.otf");
}

@font-face {
  font-family: "Mazzard H Regular";
  src: url("../asstets/tipos/Mazzard/MazzardH-Regular.otf");
}

@font-face {
  font-family: "Mazzard M Light";
  src: url("../asstets/tipos/Mazzard/MazzardM-Light.otf");
}

@font-face {
  font-family: "Mazzard M ExtraLight Italic";
  src: url("../asstets/tipos/Mazzard/MazzardM-ExtraLightItalic.otf");
}

@font-face {
  font-family: "Mazzard M Thin";
  src: url("../asstets/tipos/Mazzard/MazzardM-Thin.otf");
}

:root {
  --groc: #f2d45a;
}

:root {
  --blau: #1ebbb3;
}

:root {
  --grisfosc: #212223;
}

:root {
  --grisclar: #bfbfbf;
}

:root {
  --vermell: #f03645;
}

:root {
  --taronja: #fb7d2c;
}
:root {
  --midaBordes: 30px;
}

*{
  font-family: "Mazzard M Thin";
  letter-spacing: 0.5px;
  color: white;
}
*::-webkit-scrollbar{
  display: none;
}
#galeriaContainer::-webkit-scrollbar, #viesImatges::-webkit-scrollbar, #merchContainer::-webkit-scrollbar{
  display: initial;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--grisfosc);
}

#bordes {
  width: 100vw;
  height: 100vh;
  background-color: var(--grisfosc);
  margin: 0;
}

#bordeEsquerre {
  background-color: var(--blau);
  position: fixed;
  width: var(--midaBordes);
  height: calc(100% - var(--midaBordes));
  left: 0;
  bottom: 0;
  z-index: 100;
}
#bordeDalt {
  background-color: var(--grisfosc);
  position: fixed;
  height: var(--midaBordes);
  width: calc(100% - var(--midaBordes));
  top: 0;
  left: 0;
  z-index: 100;
}
#bordeDret {
  background-color: var(--vermell);
  position: fixed;
  width: var(--midaBordes);
  height: calc(100% - var(--midaBordes));
  right: 0;
  top: 0;
  z-index: 100;
}
#bordeBaix {
  background-color: var(--groc);
  position: fixed;
  height: var(--midaBordes);
  width: calc(100% - var(--midaBordes));
  bottom: 0;
  right: 0;
  z-index: 100;
}

h1 {
  font-family: "Futura Bold", sans-serif;
  font-size: 100pt;
  margin: 0 0 30px;
  line-height: 0.8;
}

h2 {
  font-family: "Futura Medium", sans-serif;
  letter-spacing: 1.8px;
  font-size: 30pt;
  margin: 20px 0;
}

h3{
  font-family: "Mazzard H Regular";
  font-size: 30pt;
  margin: 0px;
}

p {
  font-size: 16pt;
  margin: 10px 0;
}

/* MENU */

#menu {
  display: block;
  position: relative;
  background-color: rgba(191, 191, 191, 255);
  width: 300px;
  margin-left: 30px;
}

#hamburguesa {
  width: 100%;
  margin: 60px 0 0 60px;
  font-size: 30pt;
  display: none;
}

#hamburguesa i:hover,
#hamburguesa label:hover {
  cursor: pointer;
}

#hamburguesa i {
  font-size: 50pt;
}
#hamburguesa label {
  font-size: 30pt;
  margin: 15px 0 0 30px;
  font-family: "Mazzard H Regular";
}

#tancar {
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 101;
  display: none;
}
#tancar i {
  font-size: 40px;
  color: var(--grisfosc);
}
#tancar:hover {
  cursor: pointer;
}

#nav {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

#nav a {
  font-family: "Mazzard H Regular", sans-serif;
  font-size: 16pt;
  text-align: right;
  color: rgba(33, 34, 36, 255);
  text-decoration: none;
  padding: 5% 10%;
  margin: 5px 10px;
}

#nav .currentLink,
#nav a:hover {
  background-color: rgba(33, 34, 36, 255);
  color: white;
}

/* LOGO IMG */

.logo {
  position: relative;
}
#logo {
  width: 150px;
  height: 150px;
  margin: 80px 25% 40px;
}
.logo h4,
.logo p {
  margin: 0 0 0 20px;
}
.logo h4 {
  font-family: "Futura Bold", sans-serif;
  font-size: 41pt;
  color: var(--grisfosc);
}
.logo p {
  margin-top: -20px;
  font-family: "Futura Medium", sans-serif;
  font-size: 22pt;
  color: var(--grisfosc);
}

/*  

Menu Xarxes Socials

*/

#xxss {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  margin-top: 35px;
}

.fab {
  font-size: 35px;
  margin-left: 20px;
  color: var(--grisfosc);
}
#xxss .fa-instagram {
  margin-right: 40px;
}

/*

Idiomes menu

*/

#idiomes {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 80px;
  width: 100%;
  background-color: var(--grisfosc);
}

#idiomes p {
  font-family: "Mazzard H Regular";
  font-size: 16pt;
  color: white;
  margin-right: 20px;
}

#selectorIdiomes a {
  font-family: "Mazzard H Regular";
  font-size: 12pt;
  padding: 10px;
  background-color: rgba(33, 34, 36, 255);
  color: var(--grisclar);
  text-decoration: none;
}

#selectorIdiomes a.currentLink,
#selectorIdiomes a:hover {
  background-color: var(--grisclar);
  color: var(--grisfosc);
}

/* LANDING PAGE*/

/* #rrss .fab {
  color: var(--grisclar);
  font-size: 40pt;
} */

#fletxaHome {
  width: 300px;
  height: 300px;
}
#monoHome {
  width: 400px;
}
#clicaElMico {
  font-family: "Caveat", cursive;
  color: white;
  margin-top: -10px;
}

.start {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
  margin-top: 10%;
  align-items: center;
}
.fletxa {
  display: flex;
  flex-wrap: wrap;
}

#quiSomAll,
#tarifesAll,
#activitatsAll,
#galeriaAll,
#merchAll,
#equipacioAll,
#bomboAll,
#covaAll,
#desplomAll,
#placaAll,
#contacteAll {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  height: 100%;
}

#activitats, #infoContacte, #infoBombo, #infoCova, #infoPlaca, #infoDesplom, #mainEquipacio, #infoGaleria, #infoMerch, #infoTarifes {
  width:100%;
  max-height: 1000px;
  max-width: calc(100% - 360px);
  padding: 60px 0 60px 60px;
  box-sizing: border-box;
  overflow: scroll;
}
#mainQuiSom {
  padding: 60px 0 60px 60px;
  max-width: 800px;
  width: 50%;
}

#infoQuiSom,
#infoTarifes,
#infoActivitats,
#infoGaleria,
#infoMerch,
#infoEquipacio,
#infoBombo,
#infoCova,
#infoDesplom,
#infoPlaca,
#infoContacte {
  color: #ffffff;
}

#instalacionsServeis {
  color: #ffffff;
}

/* DIV DE LES P  */
#instalacionsServeisP {
  height: 40%;
  display: flex;
  flex-wrap: wrap;
}
/* P DINS DEL DIV DE, NO CONFUNDIR!!!!! */
#instalacionsServeisP p {
  margin: 10px 20px 10px 0;
  border: 5px solid #bfbfbf;
  padding: 18px 10px;
  text-align: right;
}

#imatgesQuiSom {
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 30%;
}

#imatgesQuiSom img {
  margin: 10px auto;
  border: 5px solid #bfbfbf;
  max-width: 200px;
  max-height: 200px;
  width: 100%;
  height: 100%;
}

/*#imatgesgaleria img {
  margin: 10px auto;
  border: 5px solid white;
  max-width: 200px;
}*/

#tarifesNormals, #tarifesMesos{
  display:flex;
  flex-wrap: wrap;
}
#tarifesNormals div, #tarifesMesos div{
  width: 250px;
  height:250px;
  border: 5px solid var(--grisclar);
  padding: 20px;
  margin: 30px 30px 0 0;
}




#activitats h1{
  margin-bottom: 50px;;
}

.activitats {
  border: 5px solid #bfbfbf;
  width: 400px;
  height: 400px;
  margin: 0 auto 40px 0;
  padding: 50px;
}
.activitats h2{
  margin-top:0;
}
.activitats h3{
  font-size: 18pt;
  font-family: "Futura Bold",sans-serif;
}
.imatgesActivitats{
  display: flex;
  margin-top: 30px;
}
.imatgesActivitats img{
  height:100px;
  width:100px;
}

#activitats h1 {
  color: white;
}

#infoActivitats,
#infoEquipacio {
  display: flex;
  flex-wrap: wrap;
}

#infoEquipacio {
  justify-content: space-between;
}
#galeriaContainer{
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: 70%;
  max-height: 700px;
}
#merchContainer {
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  max-height: 775px;
}

#infoGaleria h1, #infoGaleria h2{
  display: block;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}

.galeriaImatge,
.merchContent {
  width: 26%;
  margin: auto;
  margin-top: 5%;
}

.merchContent img {
  width:100%;
  text-align: center;
  box-shadow: #ffffff;
  margin-bottom:20px;
}
.galeriaImatge img {
  text-align: center;
  margin: auto;
  width: 50%;
  box-shadow: #ffffff;
}

.galeriaImatge img:hover,
.merchContent img:hover {
  -webkit-box-shadow: 0 10px 10px -6px white;
  -moz-box-shadow: 0 10px 10px -6px white;
  box-shadow: 0 10px 10px -6px white;
  transition: 0.5s;
  opacity: 0.7;
}

/* ////////////////////////////////////////////////////////////////////////////////////// */
/* //////////           MODALS            //////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */

/* The Modal (background) */
.modalGaleria,
.modalMerch,
.modalBombo,
.modalCova,
.modalDesplom,
.modalPlaca {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.galeriaImatge img {
  margin: auto;
  display: block;
  width: 100%;
}

#imgModalGaleria,
#imgModalMerch {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 70%;
  border: 5px solid #bfbfbf;
}

/* Caption of Modal Image */
.galeriaImatge p {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
}

/* Add Animation */
.galeriaImatge img,
.galeriaImatge p {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.closeGaleria,
.closeMerch,
.closeBombo,
.closeDesplom,
.closePlaca, 
.closeCova{
  position: absolute;
  top: 50px;
  right: 50px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.closeGaleria:hover,
.closeGaleria:focus,
.closeMerch:hover,
.closeMerch:focus,
.closeBombo:hover,
.closeBombo:focus,
.closeCova:hover,
.closeCova:focus,
.closeDesplom:hover,
.closeDesplom:focus,
.closePlaca:hover,
.closePlaca:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .galeriaImatge img {
    width: 100%;
  }
}

/* ///////// RRSS ///////// */

#rrss {
  text-align: center;
}

#rrss a img {
  width: 50px;
  margin: 10px;
}
#zones {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
}

#zones p{
  font-family: "Mazzard M ExtraLight Italic";
}

#mainEquipacio h1{
  margin-bottom: 70px;
}

.zona{
  width: 300px;
  margin: 0 auto 40px 0;
}
.zona img{
  width: 250px;
  border: 5px solid #bfbfbf;
  float: left;
}
.zona p{
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: white;
}

#zones div a {
  text-decoration: none;
}
#zones div a:visited {
  text-decoration: none;
  color: white;
}

.vies {
  display: flex;
  flex-wrap: wrap;
}

.vies img {
  border: 5px solid #bfbfbf;
  width: 300px;
  height: 500px;
  margin: auto;
  object-fit: cover;
}

#viesImatges{
  width:auto;
  overflow-y: scroll;
  display:flex;
  flex-wrap: wrap;
  height:573px;
  justify-content: flex-start;

}
.datesConfiguracions{
  font-family: "Mazzard H Regular";
  font-size: 16pt;
  background-color: var(--grisclar);
  padding: 0 30px;
  width:100%;
  height:80px;
  color:black;
}
#viesInfo p{
  margin: 30px 0;
}

#grogues{
  color: var(--groc);
}
#blaves{
  color: var(--blau);
}
#taronges{
  color: var(--taronja);
}
#vermelles{
  color: var(--vermell);
}

#separacio{
  width:10px;
  background-color:white;
  margin: 0 10%;
}


#tornar p{
  font-family: "Mazzard M Light";
  font-size: 10pt;
  display: inline-block;
  margin-left: 10px;
  margin-top: -5px;

}

#equipacioLabelEsquerra{
  display:flex;
  flex-wrap:wrap;
  margin-right:20px;
  width:100%;
  max-width:270px;
}

#equipacioLabelEsquerra h3, #equipacioLabelTop h3{
  font-family: "Mazzard H Regular";
  font-size: 30pt;
  margin: 0px;
}

#equipacioLabelTop{
  display:none;
}

#desplegablePetitTop{
  margin-bottom: 30px;
}

#containerVies{
  display:flex;
}

#infoBombo a,
#infoCova a,
#infoDesplom a,
#infoPlaca a {
  text-decoration: none;
  color: white;
}
#infoBombo a:visited,
#infoCova a:visited,
#infoDesplom a:visited,
#infoPlaca a:visited {
  color: white;
  text-decoration: none;
}

.via {
  border: 5px solid #bfbfbf;
}
#via{
  display: none;
}

.viaBombo, .viaPlaca, .viaDesplom, .viaCova{
  display:flex;
  padding:50px 130px;
}

.imatgeVia{
  margin-right:50px;
}

.dificultat{
  display: flex;
  margin-bottom: 20px;
}

#dificultatVia h2{
  font-family: "Futura Bold", sans-serif;
  font-size: 100pt;
  margin: 0 0 30px;
  line-height: 0.8;
}

.quadresDificultat{
  width:40px;
  height:40px;
  border: 1px solid var(--grisclar);
  margin-right: 20px;
}

.dificultatText{
  font-size: 20pt;
  font-family: "Futura Bold",sans-serif;
}

.comentaris{
  margin:80px 0;
}
.comentaris h3{
  margin-bottom: 20px;
}
.comentaris label{
  font-size: 16pt;
  font-family:"Mazzard M Light";
  margin-right: 20px;;
}
#nouComentariBombo, #nouComentariCova, #nouComentariDesplom, #nouComentariPlaca{
  width:500px;
  height:40px;
  background-color: rgba(0,0,0,0);
  border:none;
  outline:none;
  border-bottom: 2px solid var(--grisclar);
  margin-right:30px;
}

#botoEnviarComentari{
  padding:10px;
  border: 4px solid var(--grisclar);
  background-color: rgba(0,0,0,0);
  margin-top:20px;
}

.comentarisUsuaris{
  margin-top: 40px;;
}
.comentariUsuari {
  border: 3px solid #bfbfbf;
  padding: 20px;
  width: 80%;
  margin-bottom: 30px;
}
.usuari {
  text-transform: uppercase;
  font-family: "Futura Bold", sans-serif;
}
.dataComentari{
  margin-left: 7px;
  font-size: 14pt;
}
.usuari, .dataComentari{
  display: inline-block;
}
.comentari {
  font-family: "Mazzard M ExtraLight Italic";
}

#containerInfoContacte{
  overflow:hidden;
}
.mapouter{
  width:600px;
  position: relative;
  float: left;
}
#formulariContacte{
  width:90%;
}

#infoContacte h1{
  margin-bottom: 70px;
}

#contactes{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width:calc(100% - 630px);
  float: left;
  margin-right: 30px;;
}
#contactes div{
  width:250px;
  min-height:250px;
  margin:0 30px 30px 0;
  padding:30px;
  border: 5px solid var(--grisclar);
}
#contactes a{  
  text-decoration: none;
}

.gmap_canvas, .gmap_canvas iframe{
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 500px;
}

#formulariContacte {
  margin:30px auto 0 0;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}
#form{
  margin-top: 30px;
  display:flex;
  flex-wrap: wrap;
}
#form div{
  border: 5px solid var(--grisclar);
  padding: 20px;
  margin: 0 30px 30px 0;
}
.formText label, .formText textarea{
  display:block;
}
.formText textarea{
  font-size: 20px;
  background-color: rgba(0,0,0,0);
  outline: none;
  border:none;
  border-bottom: 2px solid var(--grisclar);
  border-right: 2px solid var(--grisclar);
  width: 100%;

}
.formText label{
  margin-bottom:30px;
}
.formText{
  width:100%;
}
#form div label{
  font-family: "Futura Bold";
  font-size: 20px;

}
#form div input{
  font-size: 20px;
  min-width: 150px;
  background-color: rgba(0,0,0,0);
  outline: none;
  height: 35px;
  border:none;
  border-bottom: 2px solid var(--grisclar);
  margin-left: 15px;

}
#form .Email input{
  min-width: 350px;
}


.enviarFormulari input {
  font-family: "Mazzard H Regular";
  color: #212223;
  background-color: #bfbfbf;
  border: none;
  padding: 20px;;
}

@media only screen and (max-width: 1715px) {
  #imatgesQuiSom img {
    max-width: 130px;
    max-height: 130px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  #imatgesQuiSom {
    max-width: 15%;
  }
}

@media only screen and (max-width: 1325px) {
  #bordeEsquerre,
  #bordeDalt,
  #bordeDret,
  #bordeBaix {
    display: none;
  }
  #bordes {
    width: 100%;
    height: 100%;
  }
  #menu {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    margin: 0;
  }
  #idiomes {
    height: 150px;
    margin-bottom: 0;
  }
  #selectorIdiomes a {
    font-size: 20px;
    padding: 20px;
    margin-left: 10px;
  }
  #selectorIdiomes:last-child {
    margin-right: 30px;
  }
  #xxss {
    height: 150px;
    margin-top: 85px;
  }
  .fab {
    font-size: 60px;
    margin-left: 35px;
  }
  #xxss .fa-instagram {
    margin-right: 45px;
  }
  .logo{
    height: 680px;
    width: 400px;
    overflow: scroll;
    z-index: 100;
    padding: 0 0 0 75px;
    margin-right: 50px;
  }
  #logo {
    margin: 200px 40px 0 110px;
    width: 300px;
    height: 300px;
  }
  .logo h4 {
    font-size: 63pt;
    margin: 0;
  }
  .logo p {
    font-size: 35pt;
    margin-top: -30px;
    margin-left: 0;
  }
  #nav {
    height: 680px;
    overflow: scroll;
    z-index: 100;
    width: 40%;
    margin: 0 auto;
    padding: 80px 0 0;
    box-sizing: border-box;
  }
  #nav a {
    margin: 0 0 20px;
    padding: 20px 0;
    text-align: center;
    width: 100%;
  }

  #menu {
    display: none;
  }
  #tancar {
    display: block;
  }
  #hamburguesa {
    display: flex;
  }

  #imatgesQuiSom img {
    margin: 10px auto;
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    height: 100%;
  }
  #imatgesQuiSom {
    max-width: 30%;
  }
  #activitats,
  #infoContacte,
  #infoBombo,
  #infoCova,
  #infoPlaca,
  #infoDesplom,
  #mainEquipacio,
  #infoGaleria,
  #infoMerch,
  #infoTarifes {
    padding: 60px;
    max-width: none;
    height: auto;
    max-height: none;
    overflow: auto;
  }
  #galeriaContainer,
  #merchContainer {
    height: auto;
    max-height: none;
    margin: 50px auto 0;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
  }


  #infoGaleria,
  #infoMerch {
    width: 100%;
  }
  #equipacioLabelTop{
    display:block;
  }
  #equipacioLabelEsquerra{
    display:none;
  }
  .viaBombo, .viaPlaca, .viaDesplom, .viaCova{
    padding:50px 30px;
  }
  #dificultatVia h2{
    font-size: 70pt;
  }
  .activitats {
    border: 5px solid #bfbfbf;
    width: 400px;
    height: 400px;
    margin: 0 auto 40px;
  }
  .mapouter{
    width:100%;
    float: none;
  }
  #contactes{
    width:100%;
    float: none;
    margin-right:0;
  }
  .gmap_canvas,
  .gmap_canvas iframe{
    overflow: hidden;
    background: none !important;
    width: 100%;
  }
  #formulariContacte{
    width:100%;
    margin: 30px 0 0 0;
  }
  #form .FormText{
    margin-right: 0;
  }
}

@media only screen and (max-width: 900px) {

  h1{
    font-size:80px;
  }
  #menu{
    height:auto;
  }
  .logo {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
  }
  #logo {
    width: 100%;
    margin: 60px 0 20px;
  }
  .logo h4 {
    margin: 0 auto;
    width: 400px;
  }
  .logo p {
    width: 400px;
    margin: -30px auto 0;
  }
  #nav {
    height: auto;
    width: 100%;
    margin: 50px auto 0;
    padding: 0 60px;
  }
  #xxss {
    position: relative;
    height: 60px;
    display: block;
    width: auto;
    margin: 30px auto;
  }
  #idiomes {
    position: relative;
    height: 150px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }
  #selectorIdiomes a {
    font-size: 20px;
    padding: 20px;
    margin-left: 10px;
  }
  #selectorIdiomes:last-child {
    margin-right: 30px;
  }
  #hamburguesa {
    margin: 45px 0 15px 30px;
  }
  #hamburguesa label {
    font-size: 25pt;
  }
  #hamburguesa i {
    font-size: 35pt;
  }

  #activitats,
  #infoContacte,
  #infoBombo,
  #infoCova,
  #infoPlaca,
  #infoDesplom,
  #mainEquipacio,
  #infoGaleria,
  #infoMerch,
  #infoTarifes {
    padding: 20px;
  }

  #quiSomAll {
    height: auto;
  }
  #mainQuiSom {
    width: 100%;
    padding: 30px;
  }
  #infoQuiSom,
  #imatgesQuiSom {
    width: 100%;
    max-width: 100%;
  }
  #imatgesQuiSom {
    margin-top: 15px;
    justify-content: center;
  }
  #imatgesQuiSom img {
    margin: 0;
    max-width: 250px;
    max-height: 250px;
  }
  h1 {
    margin: 0 0 50px;
  }
  h2 {
    margin: 40px 0;
  }

  .galeriaImatge,
  .merchContent {
    width: 47%;
  }
  .galeriaImatge img,
  .merchContent img {
    width: 80%;
  }
  #infoGaleria h1, #infoMerch h1{
    margin: 0;
  }
  .zona, .activitats {
    width: 100%;
    margin: 0;
    margin-bottom: 40px;
  }
  .zona img {
    width: 80%;
    border: 5px solid #bfbfbf;
  }
  .zona p {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    color: white;
    font-size:30pt;
  }

  .datesConfiguracions{
    font-size: 14pt;
  }

  .viaCova, .viaPlaca, .viaDesplom, .viaBombo{
    display:block;
  }
  .imatgeVia, .infoVia{
    width:100%;
    margin:0 auto 60px;;
    width:fit-content;
  }
  #contactes div{
    width:100%;
    margin:0 0 40px;
    padding:30px;
    border: 5px solid var(--grisclar);
  }
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .galeriaImatge img {
    width: 100%;
  }
  .galeriaImatge{
    width: 100%;
  }
  .merchContent{
    width:90%;
    margin:0 auto;
  }
  .galeriaImatge img{
    width: 80%;
  }
  .merchContent img{
    width:100%;
  }
  .merchContent p{
    margin-bottom:70px;
  }
}
