#bodyIndex {
  background-color: rgba(33, 34, 36, 255);
  border-left: 20px solid rgba(0, 187, 180, 255);
  border-bottom: 20px solid rgba(243, 213, 78, 255);
  border-right: 20px solid rgba(243, 51, 63, 255);
  margin-top: -125px;
}

#bodyQuiSom {
  background-color: rgba(33, 34, 36, 255);
  border-left: 20px solid rgba(0, 187, 180, 255);
  border-bottom: 20px solid rgba(243, 213, 78, 255);
  border-right: 20px solid rgba(243, 51, 63, 255);
}

#fletxaHome {
  width: 300px;
  height: 300px;
}
#monoHome {
  width: 500px;
}
#clicaElMico {
  font-family: "Caveat", cursive;
  color: white;
  margin-top: -10px;
}

.start {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
  margin-top: 10%;
  align-items: center;
}
.fletxa {
  display: flex;
  flex-wrap: wrap;
}
#menu {
  background-color: rgba(191, 191, 191, 255);
  width: 15%;
}

#nav {
  display: flex;
  flex-direction: column;
  height: 60%;
}

#nav a {
  text-align: right;
  color: rgba(33, 34, 36, 255);
  text-decoration: none;
  padding: 5%;
  margin: 10px;
}
#nav .currentLink {
  background-color: rgba(33, 34, 36, 255);
  color: white;
}

/* LOGO I TEXT (CAL MICO ROCÒDROM GIRONA) CONTAINER */
/* .logo {
} */

/* LOGO IMG */
#logo {
  width: 100px;
  height: 100px;
  margin-left: 25%;
  margin-top: 10%;
}

#quiSomAll {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
#mainQuiSom {
  width: 40%;
  margin: 10px;
}

#infoQuiSom {
  color: white;
}

#instalacionsServeis {
  color: white;
}

/* DIV DE LES P  */
#instalacionsServeisP {
  height: 40%;
  display: flex;
  flex-wrap: wrap;
}
/* P DINS DEL DIV DE, NO CONFUNDIR!!!!! */
#instalacionsServeisP p {
  margin: 10px;
  border: 5px solid white;
  padding: 10px;
  text-align: right;
}
#imatgesQuiSom {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
}

#imatgesQuiSom img {
  margin: 10px auto;
  border: 5px solid white;
  max-width: 200px;
}

/* #idiomes {
  display: flex;
  flex-wrap: wrap;
  height: 10%;
}

#selectorIdiomes {
  padding-left: 1%;
  display: flex;
  flex-wrap: wrap;
}

#selectorIdiomes p {
  padding: 1%;
} */
