#container{
    background-color: rgb(21, 22, 23);
    margin: 0%;
}
#img1{
    width: 250px;
    height: 150px;
    border: 5px solid #bfbfbf;
    position: relative;
}
#p1{
    color:#ffffff;
}
#img2{
    width: 250px;
    height: 150px;
    border: 5px solid #bfbfbf;
}
#p2{
    color: #ffffff
}
#img3{
    width: 250px;
    height: 150px;
    border: 5px solid #bfbfbf;
}
#p3{
    color: #ffffff;
}
#img4{
    width: 170px;
    height: 250px;
    border: 5px solid #bfbfbf;
}
#p4{
    color: #ffffff;
}
#img5{
    width: 190px;
    height: 220px;
    border: 5px solid #bfbfbf;
}
#p5{
    color: #ffffff;
}
#img6{
    width: 200px;
    height: 150px;
    border: 5px solid #bfbfbf;
}
#p6{
    color: #ffffff;
}
